@model simplemeet.Models.Topic

@{
    ViewData["Title"] = "create topic";
}


<partial name="_toastr" />
<div class="card mt-5">
    <div class="card-body">
        <div class="text-end">
        <a class="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-circle-chevron-left"></i> go back to main page</a>
        </div>
        <h2>create a topic</h2>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime" class="control-label"></label>
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="CreatorId" class="form-control" value="@ViewBag.CreatorId"/>
                        <span asp-validation-for="CreatorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Users" class="control-label"></label>
                        <br />
                        <select id="user-multiselect" asp-for="Users" name="TopicUsers" id="TopicUsers" asp-items="@ViewBag.Users" data-width="100%">
                        </select>   

                        <span asp-validation-for="Users" class="text-danger"></span>
                    </div>
                    <div class="form-group text-end mt-1">
                        <input type="submit" value="create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Initialize the plugin: -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#user-multiselect').multiselect();
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
