@model simplemeet.Models.Topic

@{
    ViewData["Title"] = "Edit";
}


<div class="card mt-5">
    <div class="card-body">
        <span class="text-end">
            <a class="btn btn-danger" asp-controller="Topics" asp-action="Details" asp-route-id="@Model.Id">go back</a>
        </span>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime" class="control-label"></label>
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="CreatorId" class="form-control" hidden/>
                        <span asp-validation-for="CreatorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Users" class="control-label"></label>
                        <br />
                        <select id="user-multiselect" asp-for="Users" name="TopicUsers" id="TopicUsers" asp-items="@ViewBag.UnSelectedUsers" data-width="100%">
                         @foreach(var selected in ViewBag.SelectedUsers)
                        {
                            <option value="@selected.Id" selected>@selected.Name</option>
                        }
                        </select>   

                        <span asp-validation-for="Users" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
