@model simplemeet.Models.User

@{
    ViewData["Title"] = "edit profile";
}

<partial name="_toastr" />
<div class="row justify-content-center mt-5">
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">My Profile</h6>
                <div class="text-end">
                     <a class="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-circle-chevron-left"></i> go back to main page</a>
                 </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                         <img style="width:150px;height:150px;" src="@Url.Content("~/profile_images/" + Model.ProfileImage)"
                         alt="" class="img-rounded img-responsive" asp-append-version="true" /> 
                    </div>
                    <form asp-action="Edit" enctype="multipart/form-data" autocomplete="off">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <p>@Model.EmailAddress</p>
                            <input type="hidden" asp-for="EmailAddress" class="form-control" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="ProfileImage" type="hidden" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageFile" class="control-label"></label>
                            <br />
                            <input asp-for="ImageFile" accept="image/*" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-sm btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
                            
        </div>
    </div>
</div>