@{
    ViewData["Title"] = "Home Page";
}
<div class="card" style="margin-top: 15%;margin-left: 13%;margin-right: 13%;">
    <div class="card-body">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5>posts</h5>
        <span class="text-end">
        <a class="btn btn-secondary btn-sm" asp-controller="Topics" asp-action="Create"><i class="fa-solid fa-plus"></i> create new post</a>
        <a class="btn btn-secondary btn-sm" asp-controller="Account" asp-action="Profile">visit profile</a>
        </span>
    </div>
    <br>
    @foreach(var topic in ViewBag.Topics){
    <div class="row">
        <div class="col-6">
        <p>@topic.Title</p>
        </div>
        <div class="col-4">
            @{
                string all_users = "";
            }
            @if(topic.Users.Count == 0)
            {
                all_users = "None";
            }
            @foreach (var usr in topic.Users)
            {
                all_users += usr.Name + " ";
            }
            <p>@all_users</p>
        </div>
        <div class="col-2 text-center">
        <a class="btn btn-secondary btn-sm" asp-controller="Topics" asp-action="Details" asp-route-id="@topic.Id"><i class="fa-solid fa-bars"></i> go to post</a>
        </div>
        <hr>
    </div>
    }
    </div>
</div>